@import url('https://fonts.googleapis.com/css2?family=Lato1&family=Mulish&family=Poppins&display=swap');


//--------------------------//
//  ILLLUSTRATION CONFIG   //
//------------------------//
$illustration-width: 685px;
$ilustration-margin: 10rem 0 20px 0;
//--------------------------//
//  CAROUSEL CONFIG        //
//------------------------//
$margin-top: 40px;
//---------------------//
//       COLORS       //
//-------------------//

$light-green: #A9C5BA;
$light-gray: #adadad;
$gray: #707070;
$white: #fff;
$error-color: #f00;
//--------------------//
//       FONTS       //
//------------------//

$font1: 'Poppins', sans-serif;
$font2: 'Mulish', sans-serif;
$font3: 'Lato', sans-serif;

//WEIGHTS
$weight100: 100;
$weight400: 400;
$weight600: 600;
$weight900: 900;


//STYLES
$normal: normal;
$italic: italic;
$oblique: oblique;